{% extends "base.html" %}
{% block title %}Topics Page{% endblock %}
{% block content %}
    <div class="container">
        <h1>Topics</h1>
        <div class="row">
            {% for category, topics in categories.items() %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">{{category}}</h2>
                            <ul>
                                {% for topic in topics %}
                                    <li><a href="{{ url_for('topic_threads', topic_name=topic) }}">{{topic}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
