<!DOCTYPE html>
<html>
<head>
    <title>Topics Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .navbar {
            background-color: #6c757d;
        }
        .container {
            margin-top: 20px;
        }
        .card {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark">
        <a class="navbar-brand" href="#">-1Chan</a>
        <span class="navbar-text">
            {{username}}
        </span>
        
    </nav>

    <div class="container">
        <h1>Topics</h1>
        <div class="row">
            {% for category, topics in categories.items() %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">{{category}}</h2>
                            <ul>
                                {% for topic in topics %}
                                    <li>{{topic}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

